services:
  browser:
    image: ghcr.io/taldoflemis/clutch-or-predict/browser
    environment:
      CLUTCHORPREDICT_BROWSER__DEBUG_PORT: 9223
      CLUTCHORPREDICT_BROWSER__DEBUG_ADDRESS: 0.0.0.0
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:9222/json/version"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
      start_interval: 1s

  worker:
    image: ghcr.io/taldoflemis/clutch-or-predict/celery-worker
    depends_on:
      browser:
        condition: service_healthy
    environment:
      TZ: America/Sao_Paulo
      CLUTCHORPREDICT_POSTGRES__HOST: localhost
      CLUTCHORPREDICT_POSTGRES__USER: postgres
      CLUTCHORPREDICT_POSTGRES__DBNAME: cs2_stats
      CLUTCHORPREDICT_POSTGRES__PASSWORD: molodoy
      CLUTCHORPREDICT_POSTGRES__SSLMODE: disable
      CLUTCHORPREDICT_REDIS__HOST: "localhost"
      CLUTCHORPREDICT_REDIS__PASSWORD: senha
      CLUTCHORPREDICT_CELERY__WORKER_CONCURRENCY: 1
      CLUTCHORPREDICT_CELERY__WORKER_LOG_LEVEL: "DEBUG"
      CLUTCHORPREDICT_PAGE_POOL__MAX_AMOUNT: "10"
      CLUTCHORPREDICT_PAGE_POOL__INITIAL_SIZE: "10"
      CLUTCHORPREDICT_PAGE_POOL__MINIMUM_AMOUNT: "10"
      CLUTCHORPREDICT_BROWSER__USE_CDP: true
      CLUTCHORPREDICT_BROWSER__DEBUG_PORT: 9222
      CLUTCHORPREDICT_BROWSER__DEBUG_ADDRESS: localhost

